.titre {
    color: rgb(101, 141, 179);
}

fieldset {
    background-color: rgb(101, 141, 179);
}    

.titre2 {
    color: white;
}

.hp {
    color: white;
}
.classp1{
    color: white;
    font-size: 200%;
}

.classp2{
    color: white;
}

.orange{
    background-color: rgb(243, 162, 63);
}

.ul1{
    background-color:rgba(215, 229, 241, 0.561);
}

.ul2{
    background-color: rgb(101, 141, 179);
}

.PAIEMENT{
    color: white;
    font-size: 150%;
    box-align: center;
}